body {
    background-color: black;
    color: white;
}

h1 {
    color: beige;
}

h2 {
    color: rgb(233, 233, 22);
}

#learn-p1 {
    color: #ff6b6b;
}

#learn-p2 {
    color: #ffa500;
}

#learn-p3 {
    color: #ffff00;
}

#learn-p4 {
    color: #4caf50;
}

#dev-p1.odd,
#dev-p3.odd {
    color: #64b5f6;
}

#dev-p2.even,
#dev-p4.even {
    color: #81c784;
}